
<%= simple_form_for(@event) do |f| %>
<%= f.input :name %>
<%= f.input :hero_image_url %>
<%= f.input :extended_html_description,label: 'Content:' %>
<%= f.association :category,selected: 1 %>
<%= f.association :venue,selected: 1 %>
<%= f.input :starts_at %>
<%= f.input :ends_at %>

<h3>Tickets</h3>
<div id="tickets">
	<%= f.simple_fields_for :ticket_types do |ticket_type| %>
	<%= render 'ticket_type_fields', f: ticket_type %>
	<div class="links">
		<%= link_to_add_association 'Add ticket', f, :ticket_types %>
	</div>

	<% end %>
</div>

<% if @event.new_record? %>  
	<%= f.button :submit, "Create", class: "my-button" %>
<% else %>                      
	<%= f.button :submit, "Update", class: "my-button" %>  
<% end %>


<% end %>
