<!DOCTYPE html>
<html>
<head>
  <title>CsTemplate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
    <ul class="nav navbar-nav">
     
      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Log out",destroy_user_session_path,class: "nav-link",method: 'delete'  %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Log In",new_user_session_path,class: "nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign up",new_user_registration_path,class: "nav-link"  %>
      </li>
      <% end %>
      
      
    </ul>
  </nav>  

  <div class="container">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if flash[:error] %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>

    <% if flash[:success] %>
    <div class="alert alert-success"><%= flash[:success] %></div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
